# Dependências Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml # se não estiver usando

# Logs
logs
*.log
logs/*.log

# Ambiente/variáveis
.env
.env.local
.env.*.local
ngrok.yml  # se contiver token/chave sensível

# Arquivos de sistema
.DS_Store
Thumbs.db

# Docker
*.pid

# TypeScript
dist/
public/dist/
*.tsbuildinfo

# Java/Maven/Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
*~

# Spring Boot
.DS_Store
HELP.md

